.Order {
    padding: 10px;
    box-shadow: 0px 1px 2px 1px #888;
    margin: auto;
    width: 80%;
    box-sizing: border-box;
    margin-bottom: 20px;

}
.Span {
    padding: 5px;
    margin: 0px 15px;
    /* border: 1px solid grey; */
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px #eee;
    text-transform: capitalize;
}