body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.downtime{
 /* Created with https://www.css-gradient.com */
/* Created with https://www.css-gradient.com */
/* background: #F7F9F9;
background: -webkit-linear-gradient(top left, #F7F9F9, #E0F7FE);
background: -moz-linear-gradient(top left, #F7F9F9, #E0F7FE);
background: linear-gradient(to bottom right, #F7F9F9, #E0F7FE); */
}
.downtime .left{
  float:left;
  width:5%;
  text-align:center;
  /* height: 50px; */
}
.downtime .left .sign{
  font-size: 50px;
  /* color:#FFD400; */
  color: #F7A90C;
  color: -webkit-linear-gradient(top left, #F7A90C, #EA9953);
  color: -moz-linear-gradient(top left, #F7A90C, #EA9953);
  color: linear-gradient(to bottom right, #F7A90C, #EA9953);
}
.downtime .right{
  float: left;
  width: 50%;
  margin-left: 3.5%;
  /* height: 80px; */
  /* line-height: 1; */
  margin-top: 6px;
}
.downtime .message_sec{
    margin-left: 5%;
    /* margin-top: 30px;
    height: 70px; */
}
.downtime .right .message{
  color: #415B91;
  font-size: 18px;
  font-weight: bold;
}
