.App {
  text-align: center;
  padding: 10px;
  margin: 20px;
}
.fstyle{
  font-family: verdana;
}
.fbold{
  font-weight: bold;
}
.button_dsgn {
    background: red;
    padding: 15px;
    color: white;
    margin: 20px;
    border: 1px solid black;
    font-weight: bold;
}
.button_dsgn:hover{
  background: green;
  color: white;
  border: 1px solid blue;
  cursor:pointer;
  box-shadow: 2px 2px lightskyblue;
}
